@model ArtworkViewModel

@if (User.IsInRole("Admin"))
{
    <h5>Add new artwork:</h5>
    <form asp-action="AddArtwork" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span><br />

        <label asp-for="SelectedArtist">Artist</label>
        <select asp-for="SelectedArtist" asp-items="Model.ArtistDropdown" class="form-control">
            <option value="">Select artist</option>
        </select>
        <span asp-validation-for="SelectedArtist" class="text-danger"></span><br />

        <label asp-for="SelectedStyle">Style</label>
        <select asp-for="SelectedStyle" asp-items="Model.StyleDropdown" class="form-control">
            <option value="">Select style</option>
        </select>
        <span asp-validation-for="SelectedStyle" class="text-danger"></span><br />

        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" />

        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />

        <label asp-for="Type"></label>
        <input asp-for="Type" class="form-control" />

        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />

        <label asp-for="Availability"></label>
        <input asp-for="Availability" class="form-control" />

        <label asp-for="File"></label>
        <input asp-for="File" class="form-control" />

        <input type="submit" value="Submit" />
    </form>



    <h5>Add new style to database:</h5>
    <form asp-action="AddStyle" method="post">
        <label for="new-style">Style:</label>
        <input type="text" id="new-style" name="style" />
        <input type="submit" value="Submit" />
    </form>
}



@if (Model != null && Model.Artworks.Length > 0)
{
    <h2 id="artworks">Artworks</h2>
    <table id="ArtworksTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Title)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Artist)</th>
                <th>Image</th>
                <th>Open</th>
                <th>Favorite</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Edit</th>
                    <th>Delete</th>
                }
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artwork in Model.Artworks)
            {
                <tr>
                    <td>@artwork.Title</td>
                    <td>@artwork.Artist.FullName</td>
                    <td><img src="@artwork.FilePath" width="200"></td>
                    <td>
                        <form asp-action="OpenArtwork" method="get">
                            <input type="submit" value="Open" />
                            @Html.Hidden("ArtworkId", artwork.Id)
                        </form>
                    </td>
                    @{
                        if (!artwork.Users.Any(x => x.Id == Model.UserId))
                        {
                            <td>
                                <form asp-action="Favorite" method="post">
                                    <input type="submit" value="Favorite" />
                                    @Html.Hidden("ArtworkId", artwork.Id)
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-action="Unfavorite" method="post">
                                    <input type="submit" value="Unfavorite" />
                                    @Html.Hidden("ArtworkId", artwork.Id)
                                </form>
                            </td>
                        }


                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <form asp-action="Edit" method="get">
                                <input type="submit" value="Edit" />
                                @Html.Hidden("ArtworkId", artwork.Id)
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <input type="submit" value="Delete" />
                                @Html.Hidden("ArtworkId", artwork.Id)
                                @Html.Hidden("Feedbacks", artwork.Feedbacks)
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}