@model ArtworkViewModel

<form asp-action="AddArtwork" method="post">
    <label for="new-title">Title:</label>
    <input type="text" id="new-title" name="title" />
    <label for="new-year">Year:</label>
    <input type="number" id="new-year" name="year" />
    <label for="new-description">Description:</label>
    <input type="text" id="new-description" name="description" />
    <label for="new-type">Type:</label>
    <input type="text" id="new-type" name="type" />
    <label for="new-price">Price:</label>
    <input type="number" id="new-price" name="price" />
    <input type="submit" value="Submit" />
</form>

@if (Model != null && Model.Artworks.Length > 0)
{
    <h2 id="artworks">Artworks</h2>
    <table id="ArtworksTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Title)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Year)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Description)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Type)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Price)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks[0].Availability)</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artwork in Model.Artworks)
            {
                <tr>
                    <td>@artwork.Title</td>
                    <td>@artwork.Year</td>
                    <td>@artwork.Description</td>
                    <td>@artwork.Type</td>
                    <td>@artwork.Price</td>
                    <td>@artwork.Availability</td>
                    @{
                        if (!artwork.Users.Any(x => x.Id == Model.UserId))
                        {
                            <td>
                                <form asp-action="Favorite" method="post">
                                    <input type="submit" value="Favorite" />
                                    @Html.Hidden("Id", artwork.Id)
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-action="Unfavorite" method="post">
                                    <input type="submit" value="Unfavorite" />
                                    @Html.Hidden("Id", artwork.Id)
                                </form>
                            </td>
                        }
                    }
                    <td>
                        <form asp-action="Edit" method="get">
                            <input type="submit" value="Edit" />
                            @Html.Hidden("Id", artwork.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="submit" value="Delete" />
                            @Html.Hidden("Id", artwork.Id)
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}