@model AuditViewModel

@if (Model != null)
{
    <h2 id="audits">Audits</h2>
    <table id="AuditsTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Audits[0].User)</th>
                <th>@Html.DisplayNameFor(x => x.Audits[0].Action)</th>
                <th>@Html.DisplayNameFor(x => x.Audits[0].DateTime)</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var audit in Model.Audits)
            {
                <tr>
                    <td>@audit.User.Email</td>
                    <td>@audit.Action</td>
                    <td>@audit.DateTime</td>
                </tr>
            }
        </tbody>
    </table>
}
