@model AuditViewModel
@inject IViewLocalizer Localizer

@if (Model != null)
{
    <h2 id="audits">Audits</h2>
    <table id="AuditsTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["User"]</th>
                <th>@Localizer["Action"]</th>
                <th>@Localizer["DateTime"]</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var audit in Model.Audits)
            {
                <tr>
                    <td>@audit.User.Email</td>
                    <td>@audit.Action</td>
                    <td>@audit.DateTime</td>
                </tr>
            }
        </tbody>
    </table>
}
