@model ArtistModel[]

<form asp-action="AddArtist" method="post">
    <label for="new-name">Name:</label>
    <input type="text" id="new-name" name="name" />
    <label for="new-surname">Surname:</label>
    <input type="text" id="new-surname" name="surname" />
    <label for="new-place">Place Of Birth:</label>
    <input type="text" id="new-place" name="place" />
    <input type="submit" value="Submit" />
</form>

@if (Model != null && Model.Length > 0)
{
    <h2 id="artists">Artists</h2>
    <table id="ArtistTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x[0].Name)</th>
                <th>@Html.DisplayNameFor(x => x[0].Surname)</th>
                <th>@Html.DisplayNameFor(x => x[0].PlaceOfBirth)</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.PlaceOfBirth</td>
                    <td>
                        <form asp-action="Favorite" method="post">
                            <input type="submit" value="Favorite" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="Edit" method="post">
                            <input type="submit" value="Edit" />
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="submit" value="Delete" />
                            @Html.Hidden("Id", item.Id)
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
