@model ArtistModel
@inject IViewLocalizer Localizer

<h5>@Localizer["Edit artist"]</h5>
<form asp-action="Edit" method="post">
    @Html.Hidden("Id", Model.Id)
    <label for="new-name">@Localizer["Name"]:</label>
    <input type="text" id="new-name" name="name" value="@Model.Name" />
    <label for="new-surname">@Localizer["Surname"]:</label>
    <input type="text" id="new-surname" name="surname" value="@Model.Surname" />
    <label for="new-place">@Localizer["Place"]:</label>
    <input type="text" id="new-place" name="place" value="@Model.PlaceOfBirth" />
    <input type="submit" value="@Localizer["Submit"]" />
</form>
