@model ArtistViewModel
@inject IViewLocalizer Localizer

@if (User.IsInRole("Admin"))
{
    <h5>@Localizer["Add artist"]:</h5>
    <form asp-action="AddArtist" method="post">
        <label for="new-name">@Localizer["Name"]:</label>
        <input type="text" id="new-name" name="name" />
        <label for="new-surname">@Localizer["Surname"]:</label>
        <input type="text" id="new-surname" name="surname" />
        <label for="new-place">@Localizer["Place"]:</label>
        <input type="text" id="new-place" name="place" />
        <input type="submit" value="@Localizer["Submit"]" />
    </form>
}



@if (Model != null && Model.Artists.Length > 0)
{
    <h2 id="artists">@Localizer["Artists"]</h2>
    <table id="ArtistTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Surname"]</th>
                <th>@Localizer["Open"]</th>
                <th>@Localizer["Favorite"]</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>@Localizer["Edit"]</th>
                    <th>@Localizer["Delete"]</th>
                }
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artist in Model.Artists)
            {
                <tr>
                    <td>@artist.Name</td>
                    <td>@artist.Surname</td>
                    <td>
                        <form asp-action="OpenArtist" method="get">
                            <input type="submit" value="@Localizer["Open"]" />
                            @Html.Hidden("ArtistId", artist.Id)
                        </form>
                    </td>
                    @{
                        if (!artist.Users.Any(x => x.Id == Model.UserId))
                        {
                            <td>
                                <form asp-action="Favorite" method="post">
                                    <input type="submit" value="@Localizer["Favorite"]" />
                                    @Html.Hidden("ArtistId", artist.Id)
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-action="Unfavorite" method="post">
                                    <input type="submit" value="@Localizer["Unfavorite"]" />
                                    @Html.Hidden("ArtistId", artist.Id)
                                </form>
                            </td>
                        }
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <form asp-action="Edit" method="get">
                                <input type="submit" value="@Localizer["Edit"]" />
                                @Html.Hidden("ArtistId", artist.Id)
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <input type="submit" value="@Localizer["Delete"]" />
                                @Html.Hidden("ArtistId", artist.Id)
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
