@model ArtistViewModel

<form asp-action="AddArtist" method="post">
    <label for="new-name">Name:</label>
    <input type="text" id="new-name" name="name" />
    <label for="new-surname">Surname:</label>
    <input type="text" id="new-surname" name="surname" />
    <label for="new-place">Place Of Birth:</label>
    <input type="text" id="new-place" name="place" />
    <input type="submit" value="Submit" />
</form>

@if (Model != null && Model.Artists.Length > 0)
{
    <h2 id="artists">Artists</h2>
    <table id="ArtistTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Artists[0].Name)</th>
                <th>@Html.DisplayNameFor(x => x.Artists[0].Surname)</th>
                <th>@Html.DisplayNameFor(x => x.Artists[0].PlaceOfBirth)</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artist in Model.Artists)
            {
            <tr>
                <td>@artist.Name</td>
                <td>@artist.Surname</td>
                <td>@artist.PlaceOfBirth</td>
                @{
                    if (!artist.Users.Any(x => x.Id == Model.UserId))
                    {
                        <td>
                            <form asp-action="Favorite" method="post">
                                <input type="submit" value="Favorite" />
                                @Html.Hidden("Id", artist.Id)
                            </form>
                        </td>
                    }
                    else
                    {
                        <td>
                            <form asp-action="Unfavorite" method="post">
                                <input type="submit" value="Unfavorite" />
                                @Html.Hidden("Id", artist.Id)
                            </form>
                        </td>
                    }
                }
                <td>
                    <form asp-action="Edit" method="get">
                        <input type="submit" value="Edit" />
                        @Html.Hidden("Id", artist.Id)
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="submit" value="Delete" />
                        @Html.Hidden("Id", artist.Id)
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
