@model ArtistViewModel

<h5>Add new artist:</h5>
<form asp-action="AddArtist" method="post">
    <label for="new-name">Name:</label>
    <input type="text" id="new-name" name="name" />
    <label for="new-surname">Surname:</label>
    <input type="text" id="new-surname" name="surname" />
    <label for="new-place">Place Of Birth:</label>
    <input type="text" id="new-place" name="place" />
    <input type="submit" value="Submit" />
</form>

<h5>Search artists:</h5>
<form asp-controller="Search" asp-action="SearchArtists" method="post">
    <label for="search-name">Name:</label>
    <input type="text" id="search-name" name="name" />

    <label for="search-surname">Surname:</label>
    <input type="text" id="search-surname" name="surname" />

    <label for="search-place">Place Of Birth:</label>
    <input type="text" id="search-place" name="place" />

    <label for="search-style">Style:</label>
    <input type="text" id="search-style" name="style" />

    <input type="submit" value="Submit" />
</form>


@if (Model != null && Model.Artists.Length > 0)
{
    <h2 id="artists">Artists</h2>
    <table id="ArtistTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Artists[0].Name)</th>
                <th>@Html.DisplayNameFor(x => x.Artists[0].Surname)</th>
                <th>@Html.DisplayNameFor(x => x.Artists[0].PlaceOfBirth)</th>
                <th>Open</th>
                <th>Favorite</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artist in Model.Artists)
            {
                <tr>
                    <td>@artist.Name</td>
                    <td>@artist.Surname</td>
                    <td>@artist.PlaceOfBirth</td>
                    <td>
                        <form asp-action="OpenArtist" method="get">
                            <input type="submit" value="Open" />
                            @Html.Hidden("ArtistId", artist.Id)
                        </form>
                    </td>
                    @{
                        if (!artist.Users.Any(x => x.Id == Model.UserId))
                        {
                            <td>
                                <form asp-action="Favorite" method="post">
                                    <input type="submit" value="Favorite" />
                                    @Html.Hidden("ArtistId", artist.Id)
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-action="Unfavorite" method="post">
                                    <input type="submit" value="Unfavorite" />
                                    @Html.Hidden("ArtistId", artist.Id)
                                </form>
                            </td>
                        }
                    }
                    <td>
                        <form asp-action="Edit" method="get">
                            <input type="submit" value="Edit" />
                            @Html.Hidden("ArtistId", artist.Id)
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="submit" value="Delete" />
                            @Html.Hidden("ArtistId", artist.Id)
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
