@model ArtistModel
@inject IViewLocalizer Localizer

@if (Model != null)
{
<h2 id="OneArtist">@Localizer["Artist info"]</h2>
    <table id="OneArtistTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Surname"]</th>
                <th>@Localizer["Place"]</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Surname</td>
                <td>@Model.PlaceOfBirth</td>
            </tr>
        </tbody>
    </table>
    <ul>
        @foreach (var artwork in Model.Artworks)
        {
            <li>
                @artwork.Title
                <form asp-controller="Artwork" asp-action="OpenArtwork" method="get">
                    <input type="submit" value="@Localizer["Open"]" />
                    @Html.Hidden("ArtworkId", artwork.Id)
                </form>
            </li>
        }
    </ul>

}
