@model ExhibitionViewModel
@inject IViewLocalizer Localizer

@if (User.IsInRole("Admin"))
{
    <h5>@Localizer["Add exhibition"]:</h5>
    <form asp-action="AddExhibition" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <label asp-for="Title">@Localizer["Title"]</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span><br />

        <label asp-for="SelectedArtworks">@Localizer["Artworks"]</label>
        <select asp-for="SelectedArtworks" asp-items="Model.ArtworkDropdown" class="form-control" multiple="multiple">
        </select>
        <span asp-validation-for="SelectedArtworks" class="text-danger"></span><br />

        <label asp-for="StartDate">@Localizer["Start date"]</label>
        <input asp-for="StartDate" class="form-control" />

        <label asp-for="EndDate">@Localizer["End date"]</label>
        <input asp-for="EndDate" class="form-control" />

        <input type="submit" value="@Localizer["Submit"]" />
    </form>
}



@if (Model != null)
{
    <h2 id="exhibitions">@Localizer["Exhibitions"]</h2>
    <table id="ExhibitionsTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Title"]</th>
                <th>@Localizer["Start date"]</th>
                <th>@Localizer["End date"]</th>
                <th>@Localizer["Open"]</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>@Localizer["Edit"]</th>
                }
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var exhibition in Model.Exhibitions)
            {
                <tr>
                    <td>@exhibition.Title</td>
                    <td>@exhibition.StartDate.ToString("dd/MM/yyyy")</td>
                    <td>@exhibition.EndDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        <form asp-action="OpenExhibition" method="get">
                            <input type="submit" value="@Localizer["Open"]" />
                            @Html.Hidden("ExhibitionId", exhibition.Id)
                        </form>
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <form asp-action="Edit" method="get">
                                <input type="submit" value="@Localizer["Edit"]" />
                                @Html.Hidden("ExhibitionId", exhibition.Id)
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <input type="submit" value="@Localizer["Delete"]" />
                                @Html.Hidden("ExhibitionId", exhibition.Id)
                            </form>
                        </td>
                    }
                </tr>
            }
    </table>
}