@model ExhibitionModel

@if (Model != null)
{
    <h2 id="OneExhibition">Information about exhibition</h2>
    <table id="OneExhibitionTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Title)</th>
                <th>@Html.DisplayNameFor(x => x.Artists)</th>
                <th>@Html.DisplayNameFor(x => x.Artworks)</th>
                <th>@Html.DisplayNameFor(x => x.StartDate)</th>
                <th>@Html.DisplayNameFor(x => x.EndDate)</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>@Model.Title</td>

                @foreach (var artist in Model.Artists)
                {
                    <td>@artist.FullName</td>
                }

                @foreach (var artwork in Model.Artworks)
                {
                    <td>@artwork.Title</td>
                }

                <td>@Model.StartDate</td>
                <td>@Model.EndDate</td>
            </tr>
    </table>
}