@model ExhibitionModel
@inject IViewLocalizer Localizer

@if (Model != null)
{
<h2 id="OneExhibition">@Localizer["Exhibition info"]</h2>
    <table id="OneExhibitionTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Title"]</th>
                <th>@Localizer["Artists"]</th>
                <th>@Localizer["Artworks"]</th>
                <th>@Localizer["Start date"]</th>
                <th>@Localizer["End date"]</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <tr>
                <td>@Model.Title</td>

                @foreach (var artist in Model.Artists)
                {
                    <td>@artist.FullName</td>
                }

                @foreach (var artwork in Model.Artworks)
                {
                    <td>@artwork.Title</td>
                }

                <td>@Model.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@Model.EndDate.ToString("dd/MM/yyyy HH:mm")</td>
            </tr>
    </table>
}