@model AdminViewModel
@inject IViewLocalizer Localizer

<h5>@Localizer["Role to user"]:</h5>
<form asp-action="AddUserToRole" method="post">

    <label asp-for="SelectedUser">@Localizer["User"]</label>
    <select asp-for="SelectedUser" asp-items="Model.UserDropdown" class="form-control">
        <option value="">@Localizer["Select user"]</option>
    </select>

    <label asp-for="SelectedRole">@Localizer["Role"]</label>
    <select asp-for="SelectedRole" asp-items="Model.RoleDropdown" class="form-control">
        <option value="">@Localizer["Select role"]</option>
    </select>

    <input type="submit" value="@Localizer["Submit"]" />
</form>


<h5>@Localizer["Create role"]:</h5>
<form asp-action="CreateRole" method="post">

    <label asp-for="NewRole">@Localizer["New role"]</label>
    <input asp-for="NewRole" class="form-control" />

    <input type="submit" value="@Localizer["Submit"]" />
</form>


@if (Model != null)
{
<h2 id="users">@Localizer["Users"]</h2>
    <table id="UsersTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Surname"]</th>
                <th>@Localizer["Email"]</th>

                <th>@Localizer["User roles"]</th>
                <th>@Localizer["Block user"]</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.RolesAsString</td>

                    @{
                        if (user.IsBlocked == false)
                        {
                            <td>
                                <form asp-action="Block" method="post">
                                    <input type="submit" value="@Localizer["Block"]" />
                                    @Html.Hidden("UserId", user.Id)
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-action="Unblock" method="post">
                                    <input type="submit" value="@Localizer["Unblock"]" />
                                    @Html.Hidden("UserId", user.Id)
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}