@model AdminViewModel

<h5>Add a role to a user:</h5>
<form asp-action="AddUserToRole" method="post">

    <label asp-for="SelectedUser">User</label>
    <select asp-for="SelectedUser" asp-items="Model.UserDropdown" class="form-control">
        <option value="">Select user</option>
    </select>

    <label asp-for="SelectedRole">Role</label>
    <select asp-for="SelectedRole" asp-items="Model.RoleDropdown" class="form-control">
        <option value="">Select role</option>
    </select>

    <input type="submit" value="Submit" />
</form>


<h5>Create new role:</h5>
<form asp-action="CreateRole" method="post">

    <label asp-for="NewRole">New Role</label>
    <input asp-for="NewRole" class="form-control" />

    <input type="submit" value="Submit" />
</form>


@if (Model != null)
{
    <h2 id="users">Users</h2>
    <table id="UsersTable">
        <thead id="thead">
            <tr>
                <th>@Html.DisplayNameFor(x => x.Users[0].Name)</th>
                <th>@Html.DisplayNameFor(x => x.Users[0].Surname)</th>
                <th>@Html.DisplayNameFor(x => x.Users[0].Email)</th>

                <th>User Roles</th>
                <th>Block User</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.RolesAsString</td>

                    @{
                        if (user.IsBlocked == false)
                        {
                            <td>
                                <form asp-action="Block" method="post">
                                    <input type="submit" value="Block" />
                                    @Html.Hidden("UserId", user.Id)
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form asp-action="Unblock" method="post">
                                    <input type="submit" value="Unblock" />
                                    @Html.Hidden("UserId", user.Id)
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
}