@model ArtworkViewModel
@inject IViewLocalizer Localizer

@if (Model != null && Model.Artworks.Length > 0)
{
<h2 id="FavoriteArtworks">@Localizer["Favorite artworks"]</h2>
    <table id="FavoriteArtworksTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Title"]</th>
                <th>@Localizer["Year"]</th>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["Open"]</th>
                <th>@Localizer["Unfavorite"]</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artwork in Model.Artworks)
            {
                if (artwork.Users.Any(x => x.Id == Model.UserId))
                {
                    <tr>
                        <td>@artwork.Title</td>
                        <td>@artwork.Year</td>
                        <td>@artwork.Price</td>
                        <td>
                            <form asp-action="OpenArtwork" method="get">
                                <input type="submit" value="@Localizer["Open"]" />
                                @Html.Hidden("Id", artwork.Id)
                            </form>
                        </td>
                        <td>
                            <form asp-action="UnfavoriteArtwork" method="post">
                                <input type="submit" value="@Localizer["Unfavorite"]" />
                                @Html.Hidden("Id", artwork.Id)
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}