@model ArtistViewModel
@inject IViewLocalizer Localizer

@if (Model != null && Model.Artists.Length > 0)
{
<h2 id="FavoriteArtists">@Localizer["Favorite artists"]</h2>
    <table id="FavoriteArtistTable">
        <thead id="thead">
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Surname"]</th>
                <th>@Localizer["Place"]</th>
                <th>@Localizer["Open"]</th>
                <th>@Localizer["Unfavorite"]</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var artist in Model.Artists)
            {
                if (artist.Users.Any(x => x.Id == Model.UserId))
                {
                    <tr>
                        <td>@artist.Name</td>
                        <td>@artist.Surname</td>
                        <td>@artist.PlaceOfBirth</td>
                        <td>
                            <form asp-action="OpenArtist" method="get">
                                <input type="submit" value="@Localizer["Open"]" />
                                @Html.Hidden("Id", artist.Id)
                            </form>
                        </td>
                        <td>
                            <form asp-action="UnfavoriteArtist" method="post">
                                <input type="submit" value="@Localizer["Unfavorite"]" />
                                @Html.Hidden("Id", artist.Id)
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
