@model SearchViewModel
@inject IViewLocalizer Localizer

<h5>@Localizer["Search artists"]:</h5>
<form asp-controller="Search" asp-action="SearchArtists" method="post">
    <label for="search-name">@Localizer["Name"]:</label>
    <input type="text" id="search-name" name="name" />

    <label for="search-surname">@Localizer["Surname"]:</label>
    <input type="text" id="search-surname" name="surname" />

    <label for="search-place">@Localizer["Place"]:</label>
    <input type="text" id="search-place" name="place" />

    <label for="search-style">@Localizer["Style"]:</label>
    <input type="text" id="search-style" name="style" />

    <input type="submit" value="@Localizer["Submit"]" />
</form>

<br />

<h5>@Localizer["Search artworks"]:</h5>
<form asp-controller="Search" asp-action="SearchArtworks" method="post">
    <label asp-for="Title">@Localizer["Title"]</label>
    <input asp-for="Title" class="form-control" />

    <label asp-for="SelectedArtist">@Localizer["Artist"]</label>
    <select asp-for="SelectedArtist" asp-items="Model.ArtistDropdown" class="form-control">
        <option value="aaa">@Localizer["Select artist"]</option>
    </select>

    <label asp-for="SelectedArtist">@Localizer["Style"]</label>
    <select asp-for="SelectedArtist" asp-items="Model.StyleDropdown" class="form-control">
        <option value="aaaa">@Localizer["Select style"]</option>
    </select>

    <label asp-for="Year">@Localizer["Year"]</label>
    <input asp-for="Year" class="form-control" />

    <label asp-for="Description">@Localizer["Description"]</label>
    <input asp-for="Description" class="form-control" />

    <label asp-for="Type">@Localizer["Type"]</label>
    <input asp-for="Type" class="form-control" />

    <label asp-for="Price">@Localizer["Price"]</label>
    <input asp-for="Price" class="form-control" />

    <label asp-for="SelectedAvailability">@Localizer["Availability"]</label>
    <select asp-for="SelectedAvailability" asp-items="Model.AvailabilityDropdown" class="form-control">
    </select>

    <input type="submit" value="@Localizer["Submit"]" />
</form>

<br />

<h5>@Localizer["Search exhibitions"]:</h5>
<form asp-controller="Search" asp-action="SearchExhibitions" method="post">
    <label for="search-title">@Localizer["Title"]:</label>
    <input type="text" id="search-title" name="title" />

    <label for="search-name">@Localizer["Artist name"]:</label>
    <input type="text" id="search-name" name="name" />

    <label for="search-surname">@Localizer["Artist surname"]:</label>
    <input type="text" id="search-surname" name="surname" />

    <label for="search-artworkTitle">@Localizer["Artwork title"]:</label>
    <input type="text" id="search-artworkTitle" name="artworkTitle" />

    <label for="search-startDate">@Localizer["Start date"]:</label>
    <input type="datetime-local" id="search-startDate" name="startDate" />

    <label for="search-endDate">@Localizer["End date"]:</label>
    <input type="datetime-local" id="search-endDate" name="endDate" />

    <input type="submit" value="@Localizer["Submit"]" />
</form>